NEXT_PUBLIC_ENV=dev
MERCHANT_CLIENT_ID=
MERCHANT_CLIENT_SECRET=
NEXT_PUBLIC_PAYMENT_GATEWAY_NAME=xendit
NEXT_PUBLIC_PAYMENT_GATEWAY_PUBLISH_KEY=xnd_public_development_AZVI4iAxXD6fCgKzxhy1Rvr5obpIvKcJXNnXldhfjhJbWB7RDhwzakaf2dF3tQM
OF_AUTH_URL=https://auth.dev.openfabric.co/oauth2/token
