<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
  </head>
  <body>
    <h1><%= patLink.id %></h1>
    <h1><%= patLink.intent %></h1>
    <h1><%= patLink.description %></h1>
  </body>
</html>
