<!DOCTYPE html>
<html>
<head>
    <title>Create PAT Success</title>
    <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f5f5f5;
          text-align: center;
          margin: 0;
          padding: 0;
      }

      h2 {
          color: #333;
          margin-top: 0;
      }

      h3 {
          color: #666;
          margin-top: 0;
      }

      #content {
          width: 100%;
          max-width: 80vh;
          margin: 0 auto;
          padding: 3vh 0;
          background-color: #fff;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      img#qr {
          max-width: 100%;
          height: auto;
          margin-bottom: 10px;
      }

      button#createButton {
          font-size: 1.8vh;
          background-color: #29A370;;
          color: #fff;
          border: none;
          border-radius: 4px;
          padding: 10px 20px;
          cursor: pointer;
          margin-top: 20px;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      }

      button#createButton:hover {
        background-color: #e0e0e0;
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.06), 0px 8px 10px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
      }

      .qrDisplay {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        padding: 0 5vh;
      }

      .qrCodeContent {
        text-align: left;
        word-wrap: break-word;
        max-width: 70%;
        font-size: 1.8vh;
        margin-top:2vh;
      }

      .data {
        text-align: left;
        padding: 0 7vh;
      }

      .dataRow {
        display: flex;
        flex-direction: row;
        margin-top: 1.5vh;
        max-width: 100%;
        font-size: 1.8vh;
      }

      .dataKey {
        font-weight: bold;
        width: 40%;
      }

  </style>
<body>
<div class="container">
    <h2 style="margin-top:3vh">Tenant Initiated PAT Link</h2>
    <h3>PAT Link Successfully created with Link ID: <%= data["link_id"] %> </h3>
    <div id="content" class="content">
      <div class="data">
        <h2>PAT Link Details:</h2>
        <% if ( typeof data != "undefined" && typeof data == "object" ) { %>
            <% for (const key in data) { %>
              <div class="dataRow">
                <div class="dataKey"><%= key %>:</div> 
                <div class="dataValue"><%= data[key] %></div>
              </div>
            <% } %>
        <% } %>
      </div>
    <button type="button" id="createButton" onclick="onClick()">Create Another PAT Link</button>
  </div>
</div>
<script>
    function onClick() {
      const baseUrl = window.location.origin
      const url = `${baseUrl}/pat/create`
      window.location.href = url
    }
</script>
</body>
</html>
